<nav>
  <ul>
      <li>
          <a routerLink="">
            <i class="material-icons">home</i>
          </a>
        </li>
    <li>
      <li>
          <a routerLink="accounts">
            <i class="material-icons">account_balance_wallet</i>
          </a>
        </li>
    <li>
      <a routerLink="users">
        <i class="material-icons">account_circle</i>
      </a>
    </li>
    <li>
        <a routerLink="customers">
          <i class="material-icons">insert_emoticon</i>
        </a>
      </li>
    <li>
        <a routerLink="transactions">
          <i class="material-icons">receipt</i>
        </a>
      </li>
      <li>
        <a routerLink="banks">
          <i class="material-icons">account_balance</i>
        </a>
      </li>
      <li>
          <a routerLink="creditcards">
            <i class="material-icons">credit_card</i>
          </a>
        </li>
      <li>
        <a routerLink="approvals">
          <i class="material-icons">done_outline</i>
        </a>
      </li>
  </ul>
  <ul>
    <li>
        <a routerLink="login">
            <i class="material-icons">vpn_key</i>
          </a>
    </li>
  </ul>
</nav>